<?xml version="1.0"?>
<launch>
  <arg name="frame_id" default="iiwa14_link_0"/>
  <arg name="bar_clean_config" default="/task_definitions/bar_clean_true.json"/>
  <arg name="scene_pose_rotation" default="[[1.0, 0.0, 0.0], [0.0, 1.0, 0.0], [0.0, 0.0, 1.0]]"/>
  <arg name="scene_pose_translation" default="[0.0, 0.0, 0.0]"/>

  <node pkg="stage_constraint_planner"
        type="task_planner.py"
        name="stage_constraint_planner"
        output="screen"
        required="true">
    <param name="frame_id" value="$(arg frame_id)"/>
    <param name="bar_clean_config" value="$(arg bar_clean_config)"/>
    <rosparam param="scene_pose_rotation" subst_value="true">$(arg scene_pose_rotation)</rosparam>
    <rosparam param="scene_pose_translation" subst_value="true">$(arg scene_pose_translation)</rosparam>
  </node>
</launch>
