<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="auto_plan" default="true"/>
  <arg name="record" default="true"/>
  <arg name="render_video" default="true"/>
  <arg name="output_root" default="/data/sim_runs"/>

  <!-- Values calibrated or measured for the real setup, in iiwa14_link_0. -->
  <arg name="table_top_z" default="0.14584"/>
  <arg name="bar_height" default="0.06"/>

  <group ns="iiwa14">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find iiwa_description)/urdf/iiwa14.urdf.xacro'
                    hardware_interface:=PositionJointInterface robot_name:=iiwa14
                    force_sensor:=False grabber:=False simple_collision:=false"/>

    <node pkg="robot_state_publisher"
          type="robot_state_publisher"
          name="robot_state_publisher"
          output="screen"/>

    <node pkg="stage_iiwa_sim"
          type="iiwa_pybullet_sim.py"
          name="pybullet_sim"
          output="screen"
          required="true">
      <param name="gui" value="$(arg gui)"/>
      <param name="auto_plan" value="$(arg auto_plan)"/>
      <param name="record" value="$(arg record)"/>
      <param name="render_video" value="$(arg render_video)"/>
      <param name="output_root" value="$(arg output_root)"/>
      <param name="table_top_z" value="$(arg table_top_z)"/>
      <param name="bar_height" value="$(arg bar_height)"/>
    </node>
  </group>

  <include file="$(find stage_placeholder_planner)/launch/straight_line_planner.launch">
    <arg name="frame_id" value="iiwa14_link_0"/>
    <arg name="sample_spacing" value="0.01"/>
  </include>
</launch>
