<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false"/>
  <arg name="auto_plan" default="true"/>
  <arg name="render_video" default="true"/>
  <arg name="motion_speed_scale" default="1.0"/>
  <arg name="output_root" default="/data/sim_runs"/>
  <arg name="scene_config" default="/workcell_definition/demo_scene.json"/>

  <group ns="iiwa14">
    <param name="robot_description"
           command="$(find xacro)/xacro --inorder '$(find iiwa_description)/urdf/iiwa14.urdf.xacro'
                    hardware_interface:=PositionJointInterface robot_name:=iiwa14
                    force_sensor:=False grabber:=False simple_collision:=false"/>

    <node pkg="robot_state_publisher"
          type="robot_state_publisher"
          name="robot_state_publisher"
          output="screen"/>

    <node pkg="stage_iiwa_sim"
          type="iiwa_pybullet_sim.py"
          name="pybullet_sim"
          output="screen"
          required="true">
      <param name="gui" value="$(arg gui)"/>
      <param name="auto_plan" value="$(arg auto_plan)"/>
      <param name="render_video" value="$(arg render_video)"/>
      <param name="motion_speed_scale" value="$(arg motion_speed_scale)"/>
      <param name="output_root" value="$(arg output_root)"/>
      <param name="scene_config" value="$(arg scene_config)"/>
    </node>
  </group>

  <include file="$(find stage_constraint_planner)/launch/task_planner.launch">
    <arg name="frame_id" value="iiwa14_link_0"/>
  </include>
</launch>
