<?xml version="1.0"?>
<launch>
  <arg name="server" default="128.178.145.104"/>
  <arg name="port" default="3883"/>
  <arg name="base_name" default="iiwa14"/>
  <arg name="object_name" default="baiyu_bar"/>
  <arg name="obstacle_name" default="baiyu_obs_bar"/>
  <arg name="output_frame" default="base"/>
  <arg name="base_timeout" default="0.25"/>

  <node pkg="vrpn_client_ros"
        type="vrpn_client_node"
        name="vrpn_client_node"
        output="screen"
        required="true">
    <param name="server" value="$(arg server)"/>
    <param name="port" value="$(arg port)"/>
    <param name="frame_id" value="world"/>
    <param name="broadcast_tf" value="true"/>
    <param name="update_frequency" value="1000.0"/>
    <param name="refresh_tracker_frequency" value="1.0"/>
  </node>

  <node pkg="stage_optitrack"
        type="optitrack_base_transform"
        name="optitrack_base_transform"
        output="screen"
        required="true">
    <param name="base_name" value="$(arg base_name)"/>
    <param name="output_frame" value="$(arg output_frame)"/>
    <param name="base_timeout" value="$(arg base_timeout)"/>
    <rosparam param="object_names" subst_value="true">[$(arg object_name), $(arg obstacle_name)]</rosparam>
  </node>
</launch>
